*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-family: lato;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: beige
}

/*-- background img --*/
header {
    position: relative;
    background-image: url("../img/background.jpg");
    /*-- height --*/
    height: 700px;  
    background-position: center;
    background-size: cover;
    opacity: 0.5;

}
.hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    
    
}

 /*-- list --*/

.list {
    list-style: none;
    float: right;
    padding-right: 40px;
    font-weight: bolder;    

}


.list li { 
    padding: 20px; 
    display:inline-block;}




/*-- container --*/


.container { padding: 0px;}






 /*-- social media icon --*/
.soc-med {
    float: right;
    padding-bottom: 40px;
    padding-right: 30px
}



.copyryt {
    font-size: 15px
}

.wwd {
    padding-bottom: 20px;
}

.first-P {
    padding-bottom: 20%;
}
